.panel {
    font-size: 18px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 20px;
}

.notification {
    font-size: 16px;
    color: white;
    margin: 20px;
    display: none;
}

.notification_active {
    display: block;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s;
    text-align: center;
    border-radius: 10px;
    background: #6c38cc;
    color: white;
    border: none;
    padding: 20px 40px;
}

.button:hover {
    background-color: #844fe6;
}

.input {
    box-sizing: border-box;
    padding: 15px 16px;
    color: black;
    border: 1px solid rgba(212, 212, 212, 0.05);
    border-radius: 10px;
    height: 56px;
    font-size: 18px;
    line-height: 21px;
    outline: none;
    box-shadow: none;
}

/*Получение элементов со страницы*/
.box {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    background-color: red;
  }
  button {
      width: 80px;
      height: 30px;
      margin-top: 10px;
      border: none;
      border-radius: 8px;
      background-color: #000;
      color: #fff;
      cursor: pointer;
      outline: none;
  }

  .circle {
      width: 80px;
      height: 80px;
      background-color: blue;
      display: block;
      margin-top: 10px;
      border-radius: 100%;
  }

  .heart {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 90px;
      margin-top: 10px;
  }
  .heart:before,
  .heart:after {
      position: absolute;
      content: "";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: red;
      -moz-border-radius: 50px 50px 0 0;
      border-radius: 50px 50px 0 0;
      -webkit-transform: rotate(-45deg);
         -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
           -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
      -webkit-transform-origin: 0 100%;
         -moz-transform-origin: 0 100%;
          -ms-transform-origin: 0 100%;
           -o-transform-origin: 0 100%;
              transform-origin: 0 100%;
  }
  .heart:after {
      left: 0;
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: 100% 100%;
         -moz-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
           -o-transform-origin: 100% 100%;
              transform-origin :100% 100%;
  }
.black{
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: black;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #fff;
}