* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
    background: #F3F6FD;

}

.app {
    display: flex;
}

.panel {
    background: white;
    min-height: 100vh;
    padding: 30px;
}

.logo {
    margin-bottom: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__item {
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border-radius: 14px;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.menu__item:hover {
    background: #6A6AFB;
}

.menu__item:hover img{
    filter: brightness(0) invert(1);
}

.menu__item_active {
    background: #5051F9;
}

.menu__item_active img{
    filter: brightness(0) invert(1);
}

.menu__add {
    background: none;
    border: 1px solid #CAD5FF;
    border-radius: 14px;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.menu__add:hover {
    background: #EFF2FF;
}

.content {
    min-width: 900px;
    padding: 45px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    color: #000000;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px;
}

.progress__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #232360;
}

.progress__percent {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #768396;
}

.progress__bar {
    width: 100%;
    background: #E6E9ED;
    border-radius: 4px;
    height: 5px;
    position: relative;
}

.progress__cover-bar {
    position: absolute;
    transition: all .5s;
    /*width: 50%;*/
    background: #5051F9;
    border-radius: 4px;
    height: 5px;
}

main {
    padding-top: 30px;
}

.hobbit {
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.hobbit__day {
    background: #FBFAFF;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #E7EBFB;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 22px 40px;
    min-width: 150px;
}

.hobbit__comment {
    padding: 20px 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #23235F;
}

.hobbit__delete {
    margin-left: auto;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}

.hobbit__delete:hover {
    background: #EFF2FF;
}

.hobbit__form {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 0 10px 0 25px;
    position: relative;
}

input {
    background: #FFFFFF;
    border: 1px solid #E7EBFB;
    border-radius: 9px;
    padding: 12px 20px;
    font-family: 'Comfortaa', cursive;
    flex: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

input::placeholder {
    color: #8899A8;
}

input.error {
    border: 1px solid red;
}

.input_icon {
    padding-left: 45px;
}

.input__icon {
    position: absolute;
    top: 10px;
    left: 45px;
}

.button {
    background: #EDECFE;
    border-radius: 9px;
    border: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #5051F9;
    padding: 14px 30px;
    cursor: pointer;
}

.button:hover {
    background: #dcdaff;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover_hidden {
    /*display: none;*/
}

.popup {
    background: #FFFFFF;
    box-shadow: 0 8px 14px 12px rgba(56, 56, 56, 0.05);
    border-radius: 10px;
    min-width: 600px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
}

.icon-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #768396;
    margin: 25px 0 10px 0;
}

.popup__close {
    position: absolute;
    right: 15px;
    top: 15px;
    background: none;
    border: none;
    cursor: pointer;
}

.icon-select {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.icon {
    border: 1px solid #5051F9;
    border-radius: 14px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.icon:hover {
    background: #6A6AFB;
}

.icon:hover img{
    filter: brightness(0) invert(1);
}

.icon_active {
    background: #5051F9;
}

.icon_active img {
    filter: brightness(0) invert(1);
}

.popup__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.popup__form input {
    width: 100%;
}









